.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2c65d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-container {
  position: relative;
  left: 25vw;
  top: 20vh;
  width: 50vw;
  height: 58vh;

  display: flex;
  flex-direction: column;
  border-radius: 21px;

  border-color: #d1d9e6;

  background-color: #E0E0E0;
  box-shadow: 16px 16px 30px #8f8f8f, -16px -16px 70px #ffffff;
}


.todo-title-container {
  background-color: #282a71;
  position: relative;
  top: 0;
  height: 5vw;
  border-radius: 20px 20px 0px 0px;

  text-align: center;
  font-size: 2rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-container {
  display: none;
}

.todo-container::-webkit-scrollbar {
  width: 0.5rem;
}

.todo-container::-webkit-scrollbar-track {
  background: #1e1e24;
}

.todo-container::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.create-task-btn {
  position: relative;
  left: 73vw;
  top: 17.5vh;
}

.create-btn {
  padding: 5px 19px;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid white;
  transition: all 0.3s ease 0s;
}

.create-btn:hover {
  border: 2px solid #482a5a;
  background-color: #482a5a;
  color: white;
  padding: 9px 22px;
  border-radius: 54px;
  transition: all 0.3s ease 0s;
}